<div class="well">
  <fieldset>
    <legend>Event</legend>
    <%= form_for(@event, class: "form-horizontal") do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :name, class: 'control-label' %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :start_at %><br>
        <%= f.date_select :start_at %>
      </div>
      <div class="form-group">
        <%= f.label :end_at %><br>
        <%= f.date_select :end_at %>
      </div>
      <div class="actions">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </fieldset>
</div>